
sources/spi_top.sv.bak
questa/work/_vmake
questa/work/_lib1_0.qtl
questa/work/_lib1_0.qpg
questa/work/_lib1_0.qdb
questa/work/_lib.qdb
questa/work/_info
questa/jtagspi.mpf
questa/jtagspi.cr.mti
quartus/output_files/jtagspi.sta.summary
quartus/output_files/jtagspi.sta.rpt
quartus/output_files/jtagspi.sof
quartus/output_files/jtagspi.sld
quartus/output_files/jtagspi.pin
quartus/output_files/jtagspi.map.summary
quartus/output_files/jtagspi.map.rpt
quartus/output_files/jtagspi.jdi
quartus/output_files/jtagspi.flow.rpt
quartus/output_files/jtagspi.fit.summary
quartus/output_files/jtagspi.fit.smsg
quartus/output_files/jtagspi.fit.rpt
quartus/output_files/jtagspi.done
quartus/output_files/jtagspi.asm.rpt
quartus/jtagspi.qws
quartus/jtagspi.qsf
quartus/jtagspi.qpf
quartus/incremental_db/README
quartus/incremental_db/compiled_partitions/jtagspi.rrs.cdb
quartus/incremental_db/compiled_partitions/jtagspi.rrp.hdb
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.map.kpt
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.map.hdb
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.map.hbdb.sig
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.map.hbdb.hdb
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.map.hbdb.hb_info
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.map.hbdb.cdb
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.map.dpi
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.map.cdb
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.cmp.rcfdb
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.cmp.logdb
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.cmp.hdb
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.cmp.hbdb.sig
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.cmp.hbdb.hdb
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.cmp.hbdb.cdb
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.cmp.dfp
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.cmp.cdb
quartus/incremental_db/compiled_partitions/jtagspi.root_partition.cmp.ammdb
quartus/incremental_db/compiled_partitions/jtagspi.db_info
quartus/db/prev_cmp_jtagspi.qmsg
quartus/db/jtagspi_partition_pins.json
quartus/db/jtagspi.vpr.ammdb
quartus/db/jtagspi.tmw_info
quartus/db/jtagspi.tiscmp.slow_1100mv_85c.ddb
quartus/db/jtagspi.tiscmp.slow_1100mv_0c.ddb
quartus/db/jtagspi.tiscmp.fast_1100mv_85c.ddb
quartus/db/jtagspi.tiscmp.fast_1100mv_0c.ddb
quartus/db/jtagspi.tis_db_list.ddb
quartus/db/jtagspi.sta_cmp.6_slow_1100mv_85c.tdb
quartus/db/jtagspi.sta.rdb
quartus/db/jtagspi.sta.qmsg
quartus/db/jtagspi.smp_dump.txt
quartus/db/jtagspi.smart_action.txt
quartus/db/jtagspi.sld_design_entry_dsc.sci
quartus/db/jtagspi.sld_design_entry.sci
quartus/db/jtagspi.sgate_sm.nvd
quartus/db/jtagspi.sgate.nvd
quartus/db/jtagspi.rtlv_sg_swap.cdb
quartus/db/jtagspi.rtlv_sg.cdb
quartus/db/jtagspi.rtlv.hdb
quartus/db/jtagspi.routing.rdb
quartus/db/jtagspi.root_partition.map.reg_db.cdb
quartus/db/jtagspi.ram0_fifo_d9d817a2.hdl.mif
quartus/db/jtagspi.pre_map.hdb
quartus/db/jtagspi.npp.qmsg
quartus/db/jtagspi.map_bb.logdb
quartus/db/jtagspi.map_bb.hdb
quartus/db/jtagspi.map_bb.cdb
quartus/db/jtagspi.map.rdb
quartus/db/jtagspi.map.qmsg
quartus/db/jtagspi.map.logdb
quartus/db/jtagspi.map.kpt
quartus/db/jtagspi.map.hdb
quartus/db/jtagspi.map.cdb
quartus/db/jtagspi.map.bpm
quartus/db/jtagspi.map.ammdb
quartus/db/jtagspi.lpc.txt
quartus/db/jtagspi.lpc.rdb
quartus/db/jtagspi.lpc.html
quartus/db/jtagspi.hif
quartus/db/jtagspi.hier_info
quartus/db/jtagspi.fit.qmsg
quartus/db/jtagspi.db_info
quartus/db/jtagspi.cyclonev_io_sim_cache.tt_85c_slow.hsd
quartus/db/jtagspi.cyclonev_io_sim_cache.tt_0c_slow.hsd
quartus/db/jtagspi.cyclonev_io_sim_cache.ff_85c_fast.hsd
quartus/db/jtagspi.cyclonev_io_sim_cache.ff_0c_fast.hsd
quartus/db/jtagspi.cmp_merge.kpt
quartus/db/jtagspi.cmp.rdb
quartus/db/jtagspi.cmp.logdb
quartus/db/jtagspi.cmp.idb
quartus/db/jtagspi.cmp.hdb
quartus/db/jtagspi.cmp.cdb
quartus/db/jtagspi.cmp.bpm
quartus/db/jtagspi.asm.rdb
quartus/db/jtagspi.asm.qmsg
quartus/db/jtagspi.(5).cnf.hdb
quartus/db/jtagspi.(5).cnf.cdb
quartus/db/jtagspi.(4).cnf.hdb
quartus/db/jtagspi.(4).cnf.cdb
quartus/db/jtagspi.(3).cnf.hdb
quartus/db/jtagspi.(3).cnf.cdb
quartus/db/jtagspi.(2).cnf.hdb
quartus/db/jtagspi.(2).cnf.cdb
quartus/db/jtagspi.(1).cnf.hdb
quartus/db/jtagspi.(1).cnf.cdb
quartus/db/jtagspi.(0).cnf.hdb
quartus/db/jtagspi.(0).cnf.cdb
quartus/db/altsyncram_vnl1.tdf
quartus/db/.cmp.kpt
quartus/c5_pin_model_dump.txt
